<h1>{{product.title}}</h1>

<img
  src="/img/products/{{product.thumbnails.[0]}}"
  alt="{{product.title}}"
  width="300"
/>

<p>Marca:{{product.brand}}</p>
<p>Precio:${{product.price}}</p>
<p>Descripción:{{product.description}}</p>
<p>Categoría:{{product.category}}</p>
<p>Stock :{{product.stock}}</p>

<button id="addToCart" data-product-id="{{product._id}}">
  Agregar al carrito
</button>

<a href="/products">Volver</a>

<script src="/js/product-detail.js"></script>