<link rel="stylesheet" href="/css/products.css">
{{>navbar}}

<h1>{{message}}</h1>
<form action="/products" method="GET" class="filters">

  <select name="query">
    <option value="">Todas las categorías</option>
    <option value="Computación">Computación</option>
    <option value="Accesorios">Accesorios</option>
    <option value="Televisores">Televisores</option>
    <option value="Wearables">Wearables</option>
    <option value="Monitores">Monitores</option>
    <option value="Audio">Audio</option>
    <option value="Celulares">Celulares</option>
  </select>

  <select name="sort">
    <option value="">Ordenar por precio</option>
    <option value="asc">Menor precio</option>
    <option value="desc">Mayor precio</option>
  </select>

  <button type="submit">
    Aplicar filtros
  </button>

</form>
<div id="products-container">
<ul>
 {{#each pagination.docs}}


  <li class="product-card">
    <p class="title">{{this.title}}</p>
    <p class="price">${{this.price}}</p>
    <p class="description">{{this.description}}</p>

    <img
      src="/img/products/{{this.thumbnails.[0]}}"
      alt="{{this.title}}"
      width="200"
    >

    <a class="btn-detail" href="/products/{{this._id}}">Ver detalle</a>
  </li>


 {{/each}}
</ul>

</div>
<div class="pagination">
{{#if pagination.hasPrevPage}}
  <a href="/products?page={{pagination.prevPage}}&limit={{pagination.limit}}&query={{query}}&sort={{sort}}">
    ← Anterior
  </a>
{{/if}}

Página {{pagination.page}} de {{pagination.totalPages}}
-
{{#if pagination.hasNextPage}}
  <a href="/products?page={{pagination.nextPage}}&limit={{pagination.limit}}&query={{query}}&sort={{sort}}">
    Siguiente →
  </a>
{{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime-products.js"></script>