<link rel="stylesheet" href="/css/product-detail.css" />
<h1>{{product.title}}</h1>

<div class="product-detail">

  <img src="/img/products/{{product.thumbnails.[0]}}" alt="{{product.title}}" />

  <div class="info">
    <p><strong>Marca:</strong> {{product.brand}}</p>
    <p>${{product.price}}</p>
    <p><strong>Descripción:</strong> {{product.description}}</p>
    <p><strong>Categoría:</strong> {{product.category}}</p>
    <p><strong>Stock:</strong> {{product.stock}}</p>

    <button id="addToCart" data-product-id="{{product._id}}">
      Agregar al carrito
    </button>

    <a class="back" href="/products">
      ← Volver al catálogo
    </a>
  </div>

</div>

<script src="/js/product-detail.js"></script>