<link rel="stylesheet" href="/css/products.css">
{{>navbar}}

<h1>{{message}}</h1>

<div id="products-container">
<ul>
 {{#each pagination.docs}}


  <li>
    <p>{{this.title}}</p>
    <p>{{this.price}}</p>
    <p>{{this.description}}</p>
    <p>{{this.stock}}</p>

    <img
      src="/img/products/{{this.thumbnails.[0]}}"
      alt="{{this.title}}"
      width="200"
    >

    <a href="/products/{{this._id}}">Ver detalle</a>
  </li>


 {{/each}}
</ul>
{{#if pagination.hasPrevPage}}
  <a href="/products?page={{pagination.prevPage}}&limit={{pagination.limit}}">
    ← Anterior
  </a>
{{/if}}

Página {{pagination.page}} de {{pagination.totalPages}}
-
{{#if pagination.hasNextPage}}
  <a href="/products?page={{pagination.nextPage}}&limit={{pagination.limit}}">
    Siguiente →
  </a>
{{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime-products.js"></script>